{% extends "base.html" %}
{% block title %}<h1>API et développement</h1>{% endblock %}
{% block content %}
<div id="page">

        <div class="top"></div>
        <div class="content">

                <div class="header page">
                        <h1>Application Mobiles</h1>
                </div>

                <div id="html_elements" class="padding">
                        <h3>Applications Mobiles</h3>
                        <p>Deux applications Android ont été développées respectivement par <a href="https://twitter.com/#!/arnaud_breton" target="_blank">Arnaud Breton</a> et <a href="http://regis.decamps.info/" target="blank">Régis Décamps</a> :</p>
                        <p>L'application Android développée par <a href="http://regis.decamps.info/" target="blank">Régis Décamps</a> nommée <b>Talaria</b> est disponible à l'heure actuelle sur l’Android Market. Elle est gratuite et vous pouvez soit la <a href="http://regis.decamps.info/blog/2011/03/talaria-sur-android-market/" target="blank">télécharger en utilisant le QR Code disponible ici</a>, soit la <a href="https://market.android.com/details?id=info.decamps.droid.talaria" target="blank">retrouver sur l'Android Market ici</a></p>
                        <p><b>Reste Assis T'es Prévenu (RASSTP)</b> est un client du service qui permet aux usagers du réseau de transports en commun parisien de se prévenir mutuellement et de consulter les incidents qui surviennent. L'application propose les fonctionnalités suivantes : <ul><li> Visualiser les incidents selon différentes plages horaires (heure courante, dernière minute, de la journée),</li>
<li>Déclarer un nouvel incident,</li>
<li>Gérer ses favoris (filtrage des incidents)</li>
<li>Voter pour confirmer ou infirmer un incident,</li>
<li>Déclarer qu'un incident est terminé,</li>
<li>Partager un incident.</li>
</ul>
L'application est dores et déjà disponible sur <a href="https://market.android.com/details?id=com.resteassistesprevenu&feature=search_result" target="_blank">l'Android Market</a> et vous pouvez retrouver l'actualité de l'application sur Twitter : <a href="http://twitter.com/rasstp_android" target="_blank">@RASSTP_ANDROID</a>.</p>
                        <p><img src="/site_media/images/android_logo.gif"/></p>
                </div>

        </div>
        <div class="bottom"></div>
</div>
{% endblock %}
