{% extends "base.html" %}
{% block title %}<h1>API et développement</h1>{% endblock %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>Application IPhone</h1>
		</div>
		
		<div id="html_elements" class="padding">
			<h3>Applications Mobiles</h3>
			<p>L'application Android développée par <a href="http://regis.decamps.info/" target="blank">Régis Décamps</a> nommée Talaria est disponible à l'heure actuelle sur l’Android Market. Elle est gratuite et vous pouvez soit la <a href="http://regis.decamps.info/blog/2011/03/talaria-sur-android-market/" target="blank">télécharger en utilisant le QR Code disponible ici</a>, soit la <a href="https://market.android.com/details?id=info.decamps.droid.talaria" target="blank">retrouver sur l'Android Market ici</a></p>
			<p><img src="/site_media/images/android_logo.gif"/></p>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}
