<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'incidentstransports'; // required: replace example with your forum shortname
		var disqus_identifier = 'incident_id_{{ incident.id  }}';
		var disqus_url = "http://incidents-transports.com/incident/detail/{{ incident.id  }}";

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript';
			dsq.async = false;//rds
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document
					.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Vous devez activer Javascript</noscript>
</body>
</html>