{% extends 'base.html' %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>Incidents</h1>
			<ul>
				<li class="active"><a href="{% url frontend.views.incidents %}">Incidents</a></li>
				<li><a href="{% url frontend.views.get_incidents 'hour'%}">Par heure</a></li>
				<li><a href="{% url frontend.views.get_incidents 'day'%}">Par 24h</a></li>
				<li><a href="{% url frontend.views.add_incident %}">Ajouter</a></li>
			</ul>
		</div>
		
		<div class="padding">
			
			<div class="left">
				<h4>Comment voir ou ajouter des incidents ?</h4>
				<br/>
				<p>Pour voir les incidents, il suffit de cliquer sur l'un des liens sur le coté. Ils sont classés selon leur date d'enregistrement, vous pouvez donc voir les incidents : de la dernière heure ou des dernières 24h.</p>
			</div>

			<div class="right">
				<div class="sidebar_box">
					<h4>Accès rapide</h4>
					<p>Pour avoir accès aux incidents et pouvoir contribuer :</p>
				</div>
				
				<div class="sidebar_box">
					<h4>Voir les incidents :</h4>
					<ul>
						<li><a href="{% url frontend.views.get_incidents 'hour'%}">De la dernière heure</a></li>
						<li><a href="{% url frontend.views.get_incidents 'day'%}">Des dernières 24h</a></li>
					</ul>
				</div>
				<div class="sidebar_box">
					<h4>Contribuer</h4>
					<ul>
						<li><a href="{% url frontend.views.add_incident %}">Ajouter un incident</a></li>
					</ul>
				</div>
				<div class="sidebar_box">
					<h4>Contacter Nous</h4>
					<p>Vous avez encore des questions? <a href="mailto:contact@incidents-ratp.com">Contactez nous</a>.</p>
				</div>
			</div>
			<div class="clear"></div>
			
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}