{% extends "base.html" %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>A propos</h1>
		</div>
		
		<div id="about" class="padding">
			
			<div class="wrap_image_left">
				<img src="/site_media/images/icons/community_blog.png" alt="" />
			</div>
			
			<p>Ce projet a pour but d'améliorer la transparence dans les transports, en donnant les moyens aux usagers de s'aider entre eux en temps réels, de la manière la plus intuitive et efficace possible. Nous pensons aussi qu'en utilisant les moyens à notre disposition et en partageant l'information nous pouvons permettre de rendre les transports moins pénibles en permettant à chacun de savoir s'il doit prendre un itinéraire bis et lequel choisir. Nous sommes une petite équipe :</p>
			<br/><br/><br/>
			<!-- Start Team Member -->
			<div class="team member_left">
				<h3>Olivier Girardot <span>Développeur</span></h3>
				<img src="http://themes.two2twelve.com/site/bizcreative/images/ourteam.jpg" alt="" />
				<p>Je suis développeur Java et Python, contributeur OpenSource. Je fais ce projet sur mon temps libre de manière bénévole avec des amis, alors si vous aimez et que ce site vous est utiles, montrez-le !</p>
				<ul>
					<li><a href="http://www.twitter.com/ogirardot">Twitter</a></li>
					<li><a href="http://www.readtfb.net/">Blog</a></li>
				</ul>
			</div>
			<!-- End Team Member -->
			
			<!-- Start Team Member 
			<div class="team member_right">
				<h3>Some Girl <span>Lead Designer</span></h3>
				<img src="http://themes.two2twelve.com/site/bizcreative/images/ourteam.jpg" alt="" />
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<ul>
					<li><a href="">Twitter</a></li>
					<li><a href="">Facebook</a></li>
				</ul>
			</div>
			End Team Member -->
			
			<div class="clear"></div>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}