{% extends "base.html" %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>Comment contribuer via Twitter ?</h1>
		</div>
		
		<div id="html_elements" class="padding">
			<p>Les systèmes conçus autour de ce site web écoutent en continu <a href="http://www.twitter.com/">Twitter</a>, il vous suffit donc de poster un tweet dans un format particulier, pour qu'automatiquement notre système analyse l'information, croise les données et enregistre un nouvel incident disponible en consultation pour chacun.</p>
			<h3>Précisemment</h3>
			<p>Il suffit que vous postiez un tweet de la forme suivante :</p>
			<h5><b>#incidentratp #ligne Metro 1 #raison accident voyageur</b></h5>
			<p>Remplacez "Metro 1" et "accident voyageur" par vos propres informations, pour être sûr, voilà ci-après quelques exemples usuels pouvant être utile :
			<ul>
				<li><b>#incidentratp #ligne Metro 6 #raison incident de signalisation</b></li>
				<li><b>#incidentratp #ligne Metro 4 #raison accident grave de voyageur</b></li>
				<li><b>#incidentratp #ligne RER B #raison incident technique</b></li>
				<li><b>#incidentratp #ligne Metro 9 #raison régulation de trafic</b></li>
				<li><b>#incidentratp #ligne RER A #raison chute de caténaire</b></li>
				<li>...</li>
			</ul>
			</p>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}