<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>FreshServe - A ThemeForest Theme</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/site.js"></script>
	<script type="text/javascript" src="javascripts/demo.js"></script>
</head>
<body>
	
	<div id="header">
		<div class="page">
			
			<a href="index.html" class="logo">FreshServed</a>
			
			<ul>
				<li><a href="index.html">Home</a></li>
				<li class="active"><a href="about.html">About</a></li>
				<li><a href="tour.html">Tour</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>About Us</h1>
				<ul>
					<li><a href="html_elements.html">HTML Elements</a></li>
					<li class="active"><a href="2_column.html">2 Column</a></li>
				</ul>
			</div>
			
			<div class="padding">
				
				<div class="left">
					<h4>Easily add a sidebar to any page within this theme</h4>
					<br/>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mi mauris, ultricies id dictum a, malesuada sit amet diam. Nullam facilisis, sem sit amet ornare dapibus, lorem orci mattis orci, a pharetra tellus diam sed enim. Nulla viverra ultrices convallis. Etiam eleifend molestie rhoncus. Pellentesque vehicula interdum imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur commodo convallis ultricies. Mauris in ante sed nisi lacinia varius. Phasellus lacus ligula, venenatis sit amet dictum vel, auctor eu urna. Vivamus sed dui augue. Fusce ornare pulvinar mi, vitae blandit lacus laoreet quis.</p>

					<p>Sed non ornare dolor. Vivamus porta dignissim accumsan. Aliquam viverra erat vitae diam sagittis blandit. Phasellus in turpis risus. Sed sem dolor, consectetur vel porttitor sed, porta a lacus. Praesent tristique leo sit amet ipsum feugiat convallis. Mauris aliquam commodo malesuada. Suspendisse potenti. Suspendisse potenti. Etiam a egestas urna. Etiam dolor risus, lobortis eget ultrices mollis, rhoncus sed sapien. Nam nibh dui, commodo non pulvinar eget, interdum non eros. Duis rhoncus molestie ultricies. Vivamus commodo, lorem sed faucibus condimentum, nisi metus vestibulum nunc, vitae tristique sem libero nec nisl.</p>

					<p>Sed gravida faucibus est quis congue. Nam consectetur leo eget quam hendrerit facilisis. Maecenas non ligula nisl. Pellentesque et ipsum ut mi aliquam dictum. Nullam hendrerit tincidunt elit, eu elementum orci eleifend vel. Curabitur ac convallis ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean nec cursus eros. Praesent at mauris id augue porttitor aliquet. Nulla at faucibus magna. Sed mi libero, hendrerit eu lacinia at, elementum et purus. Nunc gravida sollicitudin urna posuere pharetra. Nunc non nulla et neque accumsan aliquet in nec nisi.</p>
					
				</div>

				<div class="right">
					<div class="sidebar_box">
						<h4>Sidebar Example</h4>
						<p>Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. lum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo.</p>
					</div>
					
					<div class="sidebar_box">
						<h4>An Unordered List</h4>
						<ul>
							<li>A Random Option</li>
							<li>Another Option</li>
							<li>A Third Option</li>
							<li>And a Forth Option</li>
						</ul>
					</div>
					
					<div class="sidebar_box">
						<h4>Contact Us</h4>
						<p>Still have questions? <a href="contact.html">Contact us</a>.</p>
					</div>
				</div>
				<div class="clear"></div>
				
			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Copyright 2010 FreshServe.com. A ThemeForest theme.</p>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="tour.html">Tour</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
</body>
</html>