<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>FreshServe - A ThemeForest Theme</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/blue-green.css" media="screen" />
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/site.js"></script>
	<script type="text/javascript" src="javascripts/demo.js"></script>
</head>
<body>
	
	<div id="header">
		<div class="page">
			
			<a href="index.html" class="logo">FreshServed</a>
			
			<ul>
				<li><a href="index.html">Home</a></li>				
				<li><a href="about.html">About</a></li>
				<li><a href="tour.html">Tour</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li class="active"><a href="contact.html">Contact</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>Contact Us</h1>
			</div>
			
			<div id="contact" class="padding">
				
				<p>Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. Sed tincidunt lorem orci, vel ultrices libero. Vestibulum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo porta in. Maecenas sollicitudin quam ut ipsum tristique vel sagittis lectus luctus. Cras semper malesuada faucibus. Fusce dapibus condimentum euismod. Etiam lacinia eros elit, vel convallis elit. Cras orci elit, viverra sit amet consequat at, porta id elit. Donec egestas, felis vitae iaculis accumsan, leo justo venenatis dui, eget lacinia arcu augue eget ante. </p>
				
				<div class="section_title">
					<h3>Send Us An Email</h3>
				</div>
				
				<p class="validation"></p>
				
				<form action="scripts/send_email.php" method="post" id="contact_form">
					
					<p><label>Your Name</label>
					<input type="text" id="name" name="name" class="text_field" /></p>
					
					<p><label>Your Email</label>
					<input type="text" id="email" name="email" class="text_field" /></p>
					
					<p class="last"><label>Subject</label>
					<select name="subject" id="subject" class="text_field">
						<option value="General Support">General Support</option>
					</select></p>
					<div class="clear"></div>
					
					<p class="message"><label>Message</label>
					<textarea name="message" id="message" class="text_field" rows="" cols=""></textarea></p>
					
					<div class="send_form">
						<a href="javascript:;" class="button" id="send"><span>Send Email</span></a>
					</div>
					<div class="clear"></div>
					
				</form>
				
			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Copyright 2010 FreshServe.com. A ThemeForest theme.</p>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="tour.html">Tour</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
</body>
</html>