<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>FreshServe - A ThemeForest Theme</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="javascripts/fancybox/jquery.fancybox-1.3.1.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/blue-green.css" media="screen" />
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/jquery.tools.js"></script>
	<script type="text/javascript" src="javascripts/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	<script type="text/javascript" src="javascripts/site.js"></script>
	<script type="text/javascript" src="javascripts/demo.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			// Configure fancybox plugin
			$("a.screenshot").fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	400, 
				'speedOut'		:	400, 
				'overlayShow'	:	false
			});

			// Configure scrollable plugin
			$(".scrollable").scrollable({ });
		});
	</script>
</head>
<body>
	
	<div id="header">
		<div class="page">
			
			<a href="index.html" class="logo">FreshServed</a>
			
			<ul>
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="tour.html">Tour</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header header_home page">
				
				<div class="price_tag"></div>
				
				
				<!-- Start App Screenshot -->
				<img src="images/screenshot.jpg" alt="" class="main_screenshot" />
				<!-- End App Screenshot -->
		
				<!-- Start App Info -->
				<div class="info">
					<h1>Your App, Freshly Served.</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque tempus est, a interdum lacus dignissim quis. Donec fermentum vehicula sapien ac congue. Morbi risus nunc, semper non cursus ac, scelerisque consequat eros. Aliquam urna magna, facilisis at pharetra nec, commodo a lacus. Fusce malesuada mauris eget neque posuere porta. Mauris bibendum, lectus ac posuere pretium.</p>
					
					<a href="signup.html" class="button icon"><img src="images/go_icon.png" alt="" /><span>Signup Now!</span></a>
					<span class="trial">14-day free trial. No credit card required.</span>
				</div>
				<!-- End App Info -->
				<div class="clear"></div>
				
			</div>
			
			<div id="home" class="padding">
				
				<div id="screenshots">
				
					<div class="section_title">
						<h3>Screenshots</h3>
					</div>
				
					<a href="javascript:;" class="controls prev">Previous</a>
				
					<div class="scrollable">
						<div class="items">
						<!-- Start Screenshot Group 1 -->
						<ul>
							<li><a href="images/screenshots/screen_1.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_1_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_2.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_2_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_3.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_3_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_4.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_4_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_5.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_5_thumb.jpg" alt="" /></a></li>
						</ul>
						<!-- End Screenshot Group 1 -->	
						<!-- Start Screenshot Group 2 -->
						<ul>
							<li><a href="images/screenshots/screen_1.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_1_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_2.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_2_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_3.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_3_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_4.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_4_thumb.jpg" alt="" /></a></li>
							<li><a href="images/screenshots/screen_5.jpg" class="screenshot" rel="group"><img src="images/screenshots/screen_5_thumb.jpg" alt="" /></a></li>
						</ul>
						<!-- End Screenshot Group 2 -->
						</div>
					</div>
				
					<a href="javascript:;" class="controls next">Next</a>
					
					<div class="clear"></div>
				</div>
				
				<div id="features">

					<div class="section_title">
						<h3>Features &amp; Specs</h3>
					</div>

					<p>
						<b>Track tasks, time and more</b>
						<img src="images/icons/track.gif" alt="" />
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>
					
					<p>
						<b>Always stay on schedule</b>
						<img src="images/icons/schedule.gif" alt="" />
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>
					
					<p class="last">
						<b>Keep yourself organized</b>
						<img src="images/icons/organize.gif" alt="" />
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>
					
					<div class="clear spacer"></div>
					
					<p>
						<b>Track tasks, time and more</b>
						<img src="images/icons/time.gif" alt="" />
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>
					
					<p>
						<b>Always stay on schedule</b>
						<img src="images/icons/dude.gif" alt="" />
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>
					
					<p class="last">
						<b>Keep yourself organized</b>
						<img src="images/icons/task.gif" alt="" />
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>

					<div class="clear"></div>
				</div>
				
			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Copyright 2010 FreshServe.com. A ThemeForest theme.</p>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="tour.html">Tour</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
</body>
</html>