<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>FreshServe - A ThemeForest Theme</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/blue-green.css" media="screen" />
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/jquery.validate.js"></script>
	<script type="text/javascript" src="javascripts/site.js"></script>
	<script type="text/javascript" src="javascripts/demo.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$("#signup_form").validate();
		});
	</script>
</head>
<body>
	
	<div id="header">
		<div class="page">
			
			<a href="index.html" class="logo">FreshServed</a>
			
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="tour.html">Tour</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>Signup</h1>
			</div>
			
			<div id="signup" class="padding">
				
				<div class="left">
					
					<form action="" method="post" id="signup_form">
						
						<h2><span>Personal Info</span></h2>
						
						<p><label>First Name</label>
						<input type="text" id="f_name" name="f_name" class="text_field required" /></p>
						
						<p><label>Last Name</label>
						<input type="text" id="l_name" name="l_name" class="text_field required" /></p>
						
						<p><label>E-mail Address</label>
						<input type="text" id="email" name="email" class="text_field required email" /></p>
						
						<p><label>Company</label>
						<input type="text" id="company" name="company" class="text_field required" /></p>
						
						<div class="clear margin"></div>
						
						<h2><span>Account Info</span></h2>
						
						<p><label>Subdomain</label>
						<input type="text" id="subdomain" name="subdomain" class="text_field" /><b>.freshserve.com</b></p>
						
						<p><label>Password</label>
						<input type="text" id="password" name="password" class="text_field required" /></p>
						
						<div class="clear margin"></div>
						
						<h2><span>Billing Info</span></h2>
						
						<p class="card_type"><label>Card Type</label>
						<select name="cc_type" class="text_field" style="width: auto;">
							<option>Visa</option>
							<option>MasterCard</option>
							<option>Discover</option>
						</select>
						<img src="images/card_types.png" alt="" class="card_types" />
						</p>
						<div class="clear"></div>
						
						<p><label>Card Number</label>
						<input type="text" id="cc_num" name="cc_num" class="text_field" /></p>
						
						<p><label>Card Expiration</label>
						<select name="cc_month" class="text_field" style="width: 125px;">
							<option>Month</option>
						</select> / 
						<select name="cc_year" class="text_field" style="width: 125px;">
							<option>Year</option>
						</select>
						</p>
						
						<div class="clear"></div>
						
						<div class="send_form">
							<a href="javascript:;" class="button submit"><span>Complete Signup</span></a>
						</div>
					</form>
					
				</div>

				<div class="right">
					<div class="sidebar_box">
						<h4>Signup Instructions</h4>
						<p>Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. lum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo.</p>
					</div>
					
					<div class="sidebar_box">
						<h4>Compatible Browsers</h4>
						<ul>
							<li>Firefox 2 or later</li>
							<li>IE 7 or later</li>
							<li>Safari 3 or later</li>
							<li>Chrome 2 or later</li>
							<li>Opera 8 or later</li>
						</ul>
					</div>
					
					<div class="sidebar_box">
						<h4>Contact Us</h4>
						<p>Still have questions? <a href="contact.html">Contact us</a>.</p>
					</div>
				</div>
				<div class="clear"></div>

			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Copyright 2010 FreshServe.com. A ThemeForest theme.</p>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="tour.html">Tour</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
</body>
</html>