<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>FreshServe - A ThemeForest Theme</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/blue-green.css" media="screen" />	
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/site.js"></script>
	<script type="text/javascript" src="javascripts/demo.js"></script>
</head>
<body>
	
	<div id="header">
		<div class="page">
			
			<a href="index.html" class="logo">FreshServed</a>
			
			<ul>
				<li><a href="index.html">Home</a></li>				
				<li><a href="about.html">About</a></li>
				<li class="active"><a href="tour.html">Tour</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>Tour</h1>
				<ul>
					<li class="active"><a href="tour.html">Overview</a></li>
					<li><a href="tour.html">My Account</a></li>
				</ul>
			</div>
			
			<div id="tour" class="padding">
				
				<p>Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. Sed tincidunt lorem orci, vel ultrices libero. Vestibulum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo porta in.</p>
				
				<!-- Start Embeddable Screencast -->
				<iframe src="http://player.vimeo.com/video/16000396?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0"></iframe>
				<!-- End Embeddable Screencast -->
	
			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Copyright 2010 FreshServe.com. A ThemeForest theme.</p>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="tour.html">Tour</a></li>
			<li><a href="pricing.html">Pricing</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	
</body>
</html>