a { color: #d07740; }
div#page .header .price_tag{ 
	background: url('../images/themes/orange-teal/price_tag.png') no-repeat top;
}
div#page .section_title {
	background: url('../images/themes/orange-teal/section_title.gif') no-repeat top;
}
a.button {
	background: url('../images/themes/orange-teal/button_right.png') no-repeat top right;
}
	a.button span{
		background: url('../images/themes/orange-teal/button_left.png') no-repeat top left;
	}