a { color: #f0c868; }
div#page .header .price_tag{ 
	background: url('../images/themes/yellow-red/price_tag.png') no-repeat top;
}
div#page .section_title {
	background: url('../images/themes/yellow-red/section_title.gif') no-repeat top;
}
a.button {
	background: url('../images/themes/yellow-red/button_right.png') no-repeat top right;
}
	a.button span{
		background: url('../images/themes/yellow-red/button_left.png') no-repeat top left;
	}