{% extends "base.html" %}
{% block title %}<h1>API et développement</h1>{% endblock %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>API &amp; Développement</h1>
		</div>
		
		<div id="html_elements" class="padding">
			
			<p>IncidentsTransports, pour pouvoir simplement contribuer et utiliser nos données, met à votre disposition une API REST permettant d'accéder aux informations dans les formats usuels JSON/XML.</p>
			<h3>Comment ?</h3>
			<p>Le mieux pour avoir plus d'information est de se reporter à la page <a href="http://github.com/ssaboum/incidentstransports">GitHub du projet IncidentTransports</a></p>
			<h3>Applications Mobiles</h3>
			<p>Une application mobile pour <b>IPhone</b> communautaire et gratuite a été développée par <a href="http://twitter.com/benoitclouet">Benoît Clouet</a>, elle est est Beta pour l'instant, mais il suffit de <a href="mailto:contact@incidents-ratp.com">nous contacter</a> pour avoir accès à la version préliminaire.</p>
			<p>Si vous êtes développeur IPhone et souhaitez aider, vous pouvez soit nous contacter, soit participer au dépôt GitHub ouvert pour l'occasion : <a href="https://github.com/clouetb/incidents-transports">https://github.com/clouetb/incidents-transports</a>.</p>
			<p> Plus de détail <a href="{% url dev_iphone %}">ici</a>.</p>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}
