{% extends "base.html" %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>Euh... Ce n'est pas une page valide</h1>
		</div>
		
		<div id="html_elements" class="padding">
			<p>Vous avez cassé le serveur !</p>
			<p>Si ce n'était pas intentionnel, s'il vous plait <a href="mailto:contact@incidents-ratp.com">contactez-nous</a> pour nous signaler ce que vous avez fait et comment vous êtes arrivé sur cette page.</p>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}
