{% extends "base.html" %}
{% block title %}<h1>API et développement</h1>{% endblock %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>API &amp; Développement</h1>
		</div>
		
		<div id="html_elements" class="padding">
			
			<p>IncidentsRATP, pour pouvoir simplement contribuer et utiliser nos données, met à votre disposition une API REST permettant d'accéder aux informations dans les formats usuels JSON/XML.</p>
			<h3>Comment ?</h3>
			<p>C'est simple et voici quelques URL utilisables pour accéder à l'API :</p>
			<h4>Dernier incidents par minute/heure/jour</h4>
			<p>Il vous suffit d'accéder à l'URL suivante en replaçant (scope, format) parmis les valeurs suivantes. Pour le scope : (minutes,hour,day) et pour le format (json, xml) :</p><center><h5><b>/api/incidents.<i>format</i>/<i>scope</i></b></h5></center> 
			<h3>Applications Mobiles</h3>
			<p>Une application mobile pour <b>IPhone</b> communautaire et gratuite a été développée par <a href="http://twitter.com/benoitclouet">Benoît Clouet</a>, elle est est Beta pour l'instant, mais il suffit de <a href="mailto:contact@incidents-ratp.com">nous contacter</a> pour avoir accès à la version préliminaire.</p>
			<p>Si vous êtes développeur IPhone et souhaitez aider, vous pouvez soit nous contacter, soit participer au dépôt GitHub ouvert pour l'occasion : <a href="https://github.com/clouetb/incidents-transports">https://github.com/clouetb/incidents-transports</a>.</p>
			<p> Plus de détail <a href="{% url frontend.views.dev_iphone %}">ici</a>.</p>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}
