{% extends "base.html" %}
{% block title %}<h1>API et développement</h1>{% endblock %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>Application IPhone</h1>
		</div>
		
		<div id="html_elements" class="padding">
			<h3>Applications Mobiles</h3>
			<p>Une application mobile pour <b>IPhone</b> communautaire et gratuite a été développée par <a href="http://twitter.com/benoitclouet">Benoît Clouet</a>, elle est est Beta pour l'instant, mais il suffit de <a href="mailto:contact@incidents-ratp.com">nous contacter</a> pour avoir accès à la version préliminaire.</p>
			<p>Si vous êtes développeur IPhone et souhaitez aider, vous pouvez soit nous contacter, soit participer au dépôt GitHub ouvert pour l'occasion : <a href="https://github.com/clouetb/incidents-transports">https://github.com/clouetb/incidents-transports</a>.</p>
			<p>Voici un petit screencast reprenant les différentes fonctionnalités actuelles :</p>
			<object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0' width='728' height='807' id='iMLate' align='middle'> 
			<param name='allowScriptAccess' value='sameDomain' /> 
			<param name='movie' value='/site_media/images/iMLate.swf' /> 
			<param name='quality' value='high' /> 
			<param name='bgcolor' value='#ffffff' /> 
			<param name='loop' value='true' /> 
			<embed src='/site_media/images/iMLate.swf' loop='true' quality='high' bgcolor='#ffffff' width='728' height='807' name='iMLate' align='middle' allowScriptAccess='sameDomain' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer' /> 
			</object>
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}
