{% extends 'base.html' %}
{% block extra_js %}
<script type="text/javascript" src="/site_media/js/mootools-core-1.3-full-nocompat-yc.js"></script>
<script type="text/javascript" charset="utf-8">
function incident_interact(id, scope) {
	new Request.HTML({url: "/incident/action/" + id + "/" + scope, 
		onSuccess: function(html) {
			//Clear the text currently inside the results div.
			$(scope + '_' + id).set('text', '');
			//Inject the new DOM elements into the results div.
			$(scope + '_' + id).adopt(html);
		},
		//Our request will most likely succeed, but just in case, we'll add an
		//onFailure method which will let the user know what happened.
		onFailure: function() {
			$(scope + '_' + id).set('text', 'The request failed.');
		}
	}).send();
}
</script>
{% endblock %}
{% block content %}
<div id="page">
			
	<div class="top"></div>
	<div class="content">
		
		<div class="header page">
			<h1>Incidents</h1>
			<ul>
				<li><a href="{% url frontend.views.incidents %}">Incidents</a></li>
				<li {% if scope == "hour" %} class="active" {% endif %}><a href="{% url frontend.views.get_incidents 'hour'%}">Par heure</a></li>
				<li {% if scope == "day" %} class="active" {% endif %}><a href="{% url frontend.views.get_incidents 'day'%}">Par 24h</a></li>
				<li><a href="{% url frontend.views.add_incident %}">Ajouter</a></li>
			</ul>
		</div>
		
		<div class="padding">
			
			<div class="left">
				<h4>Liste des derniers incidents</h4>
				<br/>
				<p>
					<div id="price_table">
						<table cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<td style="width: 70px;"><h2>Ligne</h2><span>ligne impactée</span></td>
									<td style="width: 150px;"><h2>Date et heure</h2><span>où l'incident a été enregistré</span></td>
									<td><h2>Raison</h2><span>transmise aux usagers</span></td>
									<td><h2>Actions</h2><span>vous pouvez réagir</span></td>
								</tr>
							</thead>
							{% for incident in incidents %}
							<tr>
								<td style="width: 70px;"><a href={% url frontend.views.get_incident incident.id %}>{{ incident.line }} {% if incident.ended > 3 %} (Terminé) {% endif %}</a></td>
								<td style="width: 70px;">{{ incident.created|date:"D d M Y à H:i:s" }}</td>
								<td>{{ incident.reason }}</td>
								<td class="last">
									<a title="j'y suis/j'y étais comme l'ont signalé {{incident.plus}} personnes" href="javascript:incident_interact({{ incident.id }}, 'plus')" class="button"><span>+1</span></a>
									(<span id="plus_{{ incident.id }}">{{ incident.plus }}</span>)
									<a title="Incident non-existant comme l'ont signalé {{incident.minus}} personnes" href="javascript:incident_interact({{ incident.id }}, 'minus')" class="button"><span>-1</span></a>
									(<span id="minus_{{ incident.id }}">{{ incident.minus }}</span>)<br/>
									<a title="Incident terminé comme l'ont signalé {{ incident.ended }} personnes" href="javascript:incident_interact({{ incident.id }}, 'end')"><img src="/site_media/images/icons/check.png" style="padding-top:10px; width:32px; heigh:32px"/></a>(<span id="end_{{ incident.id }}">{{ incident.ended }}</span>)</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</p>
			</div>

			<div class="right">
				<div class="sidebar_box">
					<h4>Accès rapide</h4>
					<p><b><br/>+1 = je confirme cet incident;<br/> -1 = cet incident n'existe pas;<br/><img src="/site_media/images/icons/check.png" style="padding-top:2px; width:15px; heigh:15px"/> = cet incident est terminé;</b></p>
					<p>Pour avoir accès aux incidents et pouvoir contribuer :</p>
				</div>
				
				<div class="sidebar_box">
					<h4>Voir les incidents :</h4>
					<ul>
						<li><a href="{% url frontend.views.get_incidents 'hour'%}">De la dernière heure</a></li>
						<li><a href="{% url frontend.views.get_incidents 'day'%}">Des dernières 24h</a></li>
					</ul>
				</div>
				<div class="sidebar_box">
					<h4>Contribuer</h4>
					<ul>
						<li><a href="{% url frontend.views.add_incident %}">Ajouter un incident</a></li>
					</ul>
				</div>
				<div class="sidebar_box">
					<h4>Contacter Nous</h4>
					<p>Vous avez encore des questions? <a href="mailto:contact@incidents-transports.com">Contactez nous</a>.</p>
				</div>
			</div>
			<div class="clear"></div>
			
		</div>
		
	</div>
	<div class="bottom"></div>
</div>
{% endblock %}