<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>[Paris] IncidentsTransports</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Information trafic et incidents RATP, SNCF, TER, TGV, Metro, RER, Tramway par les usagers en temps réel "/>
    <meta name="keywords"
          content="ratp, metro, rer, tramway, transports, paris, france, trafic, incidents"/>
    <meta name="robots" content="index,follow"/>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/js/fancybox/jquery.fancybox-1.3.1.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/blue-green.css" media="screen" />
	<script type="text/javascript" src="/site_media/js/jquery.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery.tools.js"></script>
	<script type="text/javascript" src="/site_media/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	<script type="text/javascript" src="/site_media/js/site.js"></script>
	<script type="text/javascript" src="/site_media/js/demo.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			// Configure scrollable plugin
			$(".scrollable").scrollable({ });
		});
	</script>
<meta name="google-site-verification" content="CrgQVPDrydDjaJ3v119MGFzkyDPhUR0Tc-8eXKUd8_A" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7575040-4']);
  _gaq.push(['_setDomainName', '.incidents-transports.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	
	<div id="header">
		<div id="menu_nav" class="page">
	        <a href="/home" class="logo">IncidentsTransports</a>
	        <ul>
	            <li><a href="{% url frontend.views.index %}">Accueil</a></li>
	            <li><a href="{% url frontend.views.get_incidents 'hour' %}">Incidents</a></li>         
	            <li><a href="{% url frontend.views.add_incident %}">Ajouter un Incident</a></li>  
	            <li><a href="{% url frontend.views.contribute %}">Contribuer</a></li>
	            <li><a href="{% url frontend.views.about %}">A propos</a></li>
	        </ul>
			<div class="clear"></div>
	    </div>
	</div>
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			<div class="header header_home page">
				<!-- Start App Screenshot -->
  <a title='By Siegele Roland (Own work) [CC-BY-SA-3.0-at (www.creativecommons.org/licenses/by-sa/3.0/at/deed.en)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:2010-10-09_Arlbergtunnel.jpg'><img width=366 height=279 class="main_screenshot" alt='2010-10-09 Arlbergtunnel' src='http://upload.wikimedia.org/wikipedia/commons/thumb/4/48/2010-10-09_Arlbergtunnel.jpg/800px-2010-10-09_Arlbergtunnel.jpg'/></a>
				<!-- End App Screenshot -->
		
				<!-- Start App Info -->
				<div class="info">
					<h1>En toute transparence</h1>
					<p>Vous donner l'accès librement et gratuitement aux <b>informations concernant vos transports en communs</b>, voilà notre ambition. Ces informations sont contribuées par des usagers <b>comme vous</b>, via <a href="http://www.twitter.com">Twitter</a>, leur portable, ou ce site, <b>en temps réel</b> ce qui nous permet d'être au plus proche de la réalité. Nous contribuons aussi à fluidifier le trafic, en propageant l'information sur les incidents plus rapidement, nous donnons la possibilité de choisir son itinéraire bis. Nous espérons que cette initiative vous sera utile et vous souhaitons un bon trajet.<br/>
					Une application IPhone en cours de développement entre dans sa phase Beta <a href="{% url frontend.views.dev_iphone %}">Ici pour plus d'infos</a>.</p>
					<p><b>Suite à un conflit avec la RATP, ce domaine est la nouvelle adresse du site IncidentRATP.</b></p>
				</div>
				<!-- End App Info -->
				<div class="clear"></div>
				
			</div>
			
			<div id="home" class="padding">
				
				<div id="screenshots">
				
					<!--<div class="section_title">
						<h3>Fonctionnalités</h3>
					</div>-->
				
					<a href="javascript:;" class="controls prev">Previous</a>
				
					<div class="scrollable">

			            <div class="items">
			                <!-- Start Screenshot Group 1 -->
			                <ul>
			                    <li><a href="/incident/add" title="Ajouter un incident" class="screenshot" rel="group">Ajouter un incident<img
			                            src="/site_media/images/icons/add.png" alt="Ajouter un incident"/></a></li>
			                    <li><a href="/incidents/hour" title="Voir les derniers incidents" class="screenshot" rel="group">Derniers incidents<img
			                            src="/site_media/images/icons/find.png" alt="Voir les derniers incidents"/></a></li>
			                    <li><a href="mailto:contact@incidents-ratp.com" title="Contactez-nous" class="screenshot" rel="group">Contactez-nous<img
			                            src="/site_media/images/icons/contact.png" alt="Contactez-nous"/></a></li>
								<li><a href="/contribuer/twitter" title="Contribuez via Twitter" class="screenshot" rel="group">Contribuez via Twitter<img
					                    src="/site_media/images/icons/twitter_logo.png" alt="Contribuez via Twitter"/></a></li>
								<li><a href="/contribuer/donation" title="Faites un don" class="screenshot" rel="group">Faites un don<img
							            src="/site_media/images/icons/browser.png" alt="Faites un don"/></a></li>
			                </ul>
			            </div>
			        </div>
					<a href="javascript:;" class="controls next">Next</a>
					
					<div class="clear"></div>
				</div>
				
				<div id="features">
			        <p>
			            <b>Information transparente</b>
			            <!--						<img src="images/icons/track.gif" alt="" />-->
			            IncidentsTransports permet d'avoir acc&egrave;s &agrave; une information totalement transparente sur la qualit&eacute; des transports partisiens aliment&eacute;e par les usagers de ces moyens de transports.
			        </p>

			        <p>

			            <b>Temps r&eacute;el</b>
			            IncidentsTransports est alimenté en temps réel par les usagers à la fois via ce site et en utilisant <a target="_blank" href="http://twitter.com" alt="Twitter">Twitter</a>, ce qui permet d'avoir l'état du trafic simplement et à tout moment ! Pour plus d'informations voir : <a target="_blank" href="/contribuer/twitter" alt="Utiliser Twitter pour contribuer">Comment utiliser Twitter pour contribuer</a>
			        </p>

			        <p class="last">
			            <b>Intégration rapide</b>
			            Grâce à son API et l'ouverture des données, il est facile de créer des applications mobiles ou de ré-utiliser le contenu du site sur une autre plateforme, Profitez en ! Si vous voulez en savoir plus <a href="mailto:contact@incidents-ratp.com">contactez-nous</a> ou consulter la section <a href="/dev">dev</a>
			        </p>

			        <div class="clear spacer"></div>
			        <div class="clear"></div>

			    </div>
			</div>
		</div>
		<div class="bottom"></div>
	</div>
	
	<div id="footer" class="page">
		<p>Copyright 2010-2011 Incidents-Transports.com.</p>
		<ul>
            <li><a href="{% url frontend.views.index %}">Accueil</a></li>
            <li><a href="{% url frontend.views.incidents %}">Incidents</a></li>   
            <li><a href="{% url frontend.views.dev %}">Dev</a></li>       
            <li><a href="{% url frontend.views.contribute %}">Contribuer</a></li>
            <li><a href="{% url frontend.views.about %}">A propos</a></li>
        </ul>
		<div class="clear"></div>
	</div>
	
</body>
</html>
